body {
    background-image: url("Background_img.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

h1 {
    font-size: 40px;
    color:white;
}

h2 {
    color: rgb(255,47,25);
}

p {
    color: white;
}

.btn-group button {
    justify-content: center;
    background: transparent;
    color: orange;
    padding: 15px 15px;
    align-self: center;
    border: 3px solid rgb(54, 196, 54);
    cursor: pointer;
}

