body {
    text-align: center;
    background-image: url("pics/Background_img.jpg");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: scroll;
}

h1 {
    font-size: 40px;
    color:white;
}

h2 {
    color: rgb(255,47,25);
}

h3 {
    color: greenyellow;
}

h4 {
    color: violet
}

p {
    color: white;
    text-align: justify;
}

/* can probably make pics into a couple of classes depending on where they reside on 
the page rather than individual separate classes for each*/
.home-pic {
    display: block;
    resize: both;
}

.home-pic img {
    border-radius: 5%;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    width: 75%;
    height: auto;
} 

.denis-pic {
    display: block;
    resize: both;
    text-align: left; 
    padding-left: 5%;
}

.denis-pic img {
    display: block;
    border-radius: 5%;
    float: left;
    text-align: left;
    margin-right: 20px;
    border: 3px solid rgb(255, 255, 255);
}

.denis2 {
    display: block;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    resize: both 
}

.btn-group {
    padding: 20px 20px;
    text-align: center;

}
.btn-group button {
    background: transparent;
    color: orange;
    padding: 15px 15px;
    text-align: center;
    border: 3px solid rgb(54, 196, 54);
    cursor: pointer;
}