body {
    text-align: center;
    background-image: url("pics/Background_img.jpg");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: scroll;
}

h1 {
    font-size: 40px;
    color:white;
}

h2 {
    color: rgb(255,47,25);
}

h3 {
    color: greenyellow;
}

h4 {
    color: violet
}

p {
    color: white;
    text-align: justify;
}

/* can probably make pics into a couple of classes depending on where they reside on 
the page rather than individual separate classes for each*/
.heading button {
    display:inline-block;
    background-color: transparent;
    text-align: right;
    width:100%;
}

.heading button img{
    width:50px;
    height:50px;
    padding-left: 50%
}
.home-pic {
    display: block;
    resize: both;
}

.home-pic img {
    border-radius: 5%;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    width: 75%;
    height: auto;
} 

.home_txt {
    padding-left: 10%;
    padding-right: 10%;
}

.footer {
    font-size: 10px;

}

.denis-pic {
    display: inline-block;
    resize: both;
    text-align: left; 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}

.denis-pic img {
    display: inline-block;
    border-radius: 5%;
    float: left;
    text-align: left;
    margin-right: 20px;
    border: 3px solid rgb(255, 255, 255);
}

.denis2 {
    display: inline-block;
    resize: both;
    text-align: left; 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}

.denis2 img {
    min-height: 250px;
    max-width: 250px;
    display: inline-block;
    border-radius: 5%;
    float: left;
    text-align: left;
    margin-right: 20px;
    border: 3px solid rgb(255, 255, 255);
}

.btn-group {
    padding: 20px 20px;
    text-align: center;

}
.btn-group button {
    background: transparent;
    color: orange;
    padding: 15px 15px;
    text-align: center;
    border: 3px solid rgb(54, 196, 54);
    cursor: pointer;
}
.btn-group button:hover {
    color: red;
}